@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide both Y and X scrollbar */
::-webkit-scrollbar {
  width: 5px; /* for Y-axis scrollbar */
  height: 5px; /* for X-axis scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(213, 213, 213);
  border-radius: 3px;
}

/* Handle for Y-axis scrollbar */
::-webkit-scrollbar-thumb {
  background: #9f9f9f;
  border-radius: 3px;
}

/* Handle for X-axis scrollbar */
::-webkit-scrollbar-thumb:horizontal {
  background: #9f9f9f;
  border-radius: 3px;
}

/* Handle on hover for both Y and X-axis scrollbar */
::-webkit-scrollbar-thumb:hover {
  background: #7b7b7b;
}

/* Handle on hover for X-axis scrollbar */
::-webkit-scrollbar-thumb:horizontal:hover {
  background: #7b7b7b;
}

/* Remove spin buttons styling */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.break-anywhere {
  overflow-wrap: anywhere;
}
